
<p>BusinessPlan TOP</p>
<p>ログイン済みコンテンツ</p>
<div class = "indexmain">
  <div class="tab-menu">
   <ul>
     <li id="first" class="selected">収益</li>
     <li id="second">費用減算</li>
     <li id="third">物件費</li>
     <li id="forth">人件費</li>
     <li id="fifth">社取費用</li>
     <li id="sixth">投資</li>
   </ul>
   <div class="contents">
     <div class="first">
      <table>
       <thead>
         <tr>
           <th>ID</th>
           <th>施策名</th>
           <th>サービスコード</th>
         </tr>
       <%= render @plans %>
       </thead>
     </table>
       <%= form_for @plan do |f| %>
      <%= f.text_field :plan_name %>
       <%= f.submit '投入' %>
      <% end %>
  　</div>
    <div class="second">
     <table >
      <tbody>
        <tr>
          <th>ID</th>
          <th>施策名</th>
        </tr>
      <%= render @plans %>
      </tbody>
    </table>
    </div>
    <div class="third">
    <table class="bordered">
      <tbody>
        <tr>
          <th>ID</th>
          <th>施策名</th>
        </tr>
      <%= render @plans %>
      </tbody>
    </table>
    </div>
    <div class="forth">
    <table>
      <tbody>
        <tr>
          <th>ID</th>
          <th>施策名</th>
        </tr>
        <%= render @plans %>
      </tbody>
    </table>
    </div>
    <div class="fifth">
    <table>
      <tbody>
        <tr>
          <th>ID</th>
          <th>施策名</th>
        </tr>
      <%= render @plans %>
      </tbody>
    </table>
    </div>
    <div class="sixth">
    <table>
      <tbody>
        <tr>
          <th>ID</th>
          <th>施策名</th>
        </tr>
      <%= render @plans %>
      </tbody>
    </table>
    </div>
  </div>
  </div>
</div>

